@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700');
/* Mogo slider */
.slider {
    position: relative;
}
a{
    margin: 5px;
}

    .slider:after {
        content: "";
        opacity: 0.8;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(top, rgba(26, 165, 241, 0.25) 0%, rgba(28, 67, 182, 0.52) 100%);
    }

    /* Carousel */
    .slider .carousel {
        z-index: 1;
        padding: 100px 0 50px 0;
    }

    .slider .carousel-inner {
    }

    .slider .slider-content p {
        color: #fff;
        font-size: 62px;
        line-height: 140px;
        font-family: 'Kaushan Script', cursive;
    }

    .slider .slider-content h3 {
        color: #fff;
        font-size: 50px;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
    }

    .slider .slider-content .btn {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        padding: 8px 30px;
        margin-bottom: 120px;
        text-transform: uppercase;
        background: transparent;
        border-radius: 0;
        border: 2px solid #ffffff;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

        .slider .slider-content .btn:hover {
            background: rgba(28, 67, 182, 0.52);
            border: 2px solid rgb(255, 255, 255);
        }

    /* Carousel indicator */
    .slider .carousel-indicators {
        width: 100%;
        margin: 0;
        padding: 0;
        left: 0;
    }

        .slider .carousel-indicators li {
            text-indent: initial;
            width: 22%;
            height: 5px;
            margin: 0 2% 0 0;
            border-radius: 0;
            background: #ffffff;
            border: none;
            opacity: 0.6;
        }

            .slider .carousel-indicators li:last-child {
                margin: 0;
            }

            .slider .carousel-indicators li.active {
                opacity: 1;
                position: relative;
            }

                .slider .carousel-indicators li.active:after {
                    content: "";
                    width: 30%;
                    height: 5px;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: rgba(38, 28, 182, 0.80);
                }

            .slider .carousel-indicators li:hover {
                opacity: 1;
            }

    .slider .indicator-inner {
        padding-top: 25px;
        text-align: left;
    }

        .slider .indicator-inner span {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            font-size: 17px;
            font-weight: 400;
        }

            .slider .indicator-inner span.number {
                font-size: 23px;
                font-weight: 500;
                margin-right: 10px;
            }

/* Media query for 959px */
@media only screen and (max-width: 500px) {
    /* Main slider section */
    .slider .carousel {
        padding: 70px 0 50px 0;
    }

    .slider .slider-content .btn {
        margin-bottom: 60px;
        padding: 6px 18px;
        font-size: 12px;
    }
}

/* Media query for 768px */
@media only screen and (max-width: 768px) {
    /* Main slider section */
    .slider .slider-content p {
        font-size: 35px;
        line-height: 70px;
    }

    .slider .indicator-inner {
        padding-top: 10px;
    }

    .slider .slider-content h3 {
        font-size: 35px;
    }

    .slider .indicator-inner span {
        font-size: 10px;
    }

        .slider .indicator-inner span.number {
            font-size: 10px;
            margin-right: 0;
        }
}

/* Media query for 420px */
@media only screen and (max-width: 420px) {
    /* Main slider section */
    .slider .carousel {
        padding: 50px 0 50px 0;
    }

    .slider .slider-content p {
        font-size: 35px;
        line-height: 70px;
    }

    .slider .indicator-inner {
        padding-top: 10px;
    }

    .slider .slider-content h3 {
        font-size: 35px;
    }

    .slider .indicator-inner span {
        font-size: 7px;
    }

        .slider .indicator-inner span.number {
            font-size: 7px;
            margin-right: 0;
        }
}
