@model Gallery1.Models.Technique
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Новый автор</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TechniqueName)
    <br />
    @Html.EditorFor(model => model.TechniqueName)
    <br /><br />
    @Html.LabelFor(model => model.TechniqueDescription)
    <br />
    @Html.EditorFor(model => model.TechniqueDescription)
    <br /><br />
    <input type="submit" value="Добавить" />
}