<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
<link href="~/Content/StyleMenuBar.css" rel="stylesheet" />


@model IEnumerable<string>
<div class="menu"> <span></span> </div>
<nav id="nav">
    <ul class="main">
        <li>
            @Html.ActionLink("Все типы", "Index", "Home", null,
            new { @class = "" })
        </li>

        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link, new
                {
                    controller = "Home",
                    action = "Index",
                    type = link,
                }, new
                {
                    @class =""
                    +(link == ViewBag.SelectedTypes)
                })
            </li>
        }
    </ul>
</nav>
<div class="overlay"></div>
<script>
    $('.menu, .overlay').click(function () {
        $('.menu').toggleClass('clicked');
        $('#nav').toggleClass('show');
    });
</script>
