<link href="~/Content/StyleSheet1.css" rel="stylesheet" />


@model IEnumerable<string>

<input type="checkbox" id="nav-toggle" hidden>
<label for="nav-toggle" class="nav-toggle" onclick></label>


<div class="nav">
    <ul>
        <li>
            @Html.ActionLink("Все типы", "Index", "Home", null,
        new { @class = "" })

            @foreach (var link in Model)
            {
                @Html.RouteLink(link, new
                {
                    controller = "Home",
                    action = "Index",
                    type = link,
                }, new
                {
                    @class =""
                    +(link == ViewBag.SelectedTypes ? "btn-primary" : "")
                })
            }
        </li>
    </ul>
</div>